<section>
  <h4>Welcome <%=@player.name%></h4>
  <ul>
    <li>
      <%= button("New Squad", to: Routes.squad_path(@conn, :new), method: "get", class: "button border link-button") %>
    </li>
    <li>
      <%= button("Squads", to: Routes.squad_path(@conn, :index), method: "get", class: "button border link-button") %>
    </li>
  </ul>
</section>