<section>
  <%= for s <- @squads do %>
    <p><b><%= s.squad.name %></b> (<%= s.squad.faction %>/<%= s.squad.archetype %>) <%= link "Show", to: Routes.squad_path(@conn, :show, s.squad.id) %>
    <p><%= s.wins %> : <%= s.average %>
  <% end %>
</section>