<section>
  <%= form_for @conn, Routes.squad_path(@conn, :create), fn f -> %>
    <label>
      Name: <%= text_input f, :name %>
    </label>
    <label>
      Faction: <%= select(f, :faction, @factions) %>
    </label>
    <label>
      Archetype: <%= select(f, :archetype, @archetypes) %>
    </label>
    <%= submit("Create", class: "button border do submit") %>
  <% end %>
</section>