<section>
  <%= form_for @conn, Routes.squad_path(@conn, :new), fn f -> %>
    <label>
      Name: <%= text_input f, :name %>
    </label>
    <label>
      Faction: <%= select(f, :faction, ["Rebel": "reb", "Empire": "emp", "Scum": "scm"]) %>
    </label>
    <label>
      Archetype: <%= select(f, :archetype, ["None": "none", "N of a kind": "nok", "Aces": "ace"]) %>
    </label>
    <%= submit("Create", class: "button border do submit") %>
  <% end %>
</section>